---
layout: default
---
<div class="header">
    <h1 class="scale-page--title">{{ page.title }}</h1>
</div>

<div class="scale">
{% for scaleitem in page.scale %}
    <div class="scale--item">{{ scaleitem }}</div>
{% endfor %}
</div>

<div class="scale">
{% for scaleitem in page.chords %}
    <div class="scale--item">{{ scaleitem }}</div>
{% endfor %}
</div>

<div class="progressions">
    <div class="progressions--title">Common Progressions</div>
    {% for item in page.common-progressions %}
    <div class="prog">
        {% for progitem in item.prog %}
        <div class="prog--item">
            {{ progitem }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% if page.notes %}
<div class="notes">
    {{page.notes}}
</div>
{% endif %}