%band {
    width: 90%;
    max-width: 60rem;
    margin: auto;
}

.base {
    &--a {
        color: $primary-text-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:visited, &:focus {
            color: $primary-text-color;
        }
    }
}