@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Lora);

body{
    background: #262422; 
    font-family: 'Poiret One', cursive; 
    color: #F3E6BD;
}
